:root {
    --color-primario: #00FF90;
    --color-green-100: #00ff91cc;
    --color-secondary: #03c1da;
    --color-text: #faebd7;
    --color-title: #ffffff;
}

body {
    margin: 0;
    font-family: 'ROBOTO';
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.slick-track{
    display: flex !important;
    gap: 15px;
    
}


.slick-prev, .slick-next {
    font-size: 24px;
    color: #fff;
    background-color: #333;
    border: 2px solid #333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 36px;
    position: absolute;
    top: 50%;
}

.slick-prev {
    left: -10px;
    z-index: 1;
}

.slick-next {
    right: -10px;
}

/* navbar */
.nav,
.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #000000;
    text-align: center;
    padding: 0 2em;
}

.nav {
    height: 100vh;
}


.nav-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    box-shadow: 20px 20px 50px rgba(12, 12, 12, 0.904);
    background: #000000;
    z-index: 10;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-first {
    position: fixed;
    top: 75px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-second {
    position: fixed;
    top: 0;
}

.nav-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: var(--color-primario);
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 2vw;
}

.nav-tab:hover {
    color: white;
    background: var(--color-primario);
    transition: all 0.5s ease;
}

.nav-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background: var(--color-primario);
    transition: left 0.3s ease;
}


.name {
    color: white;
    font-size: 80px;
    letter-spacing: 0.3rem;
    font-family: sans-serif;
    z-index: 4;
}

.title {
    font-size: 5vw;
    letter-spacing: 0.3rem;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: #00FF90;
    border-radius: 50px;
    padding: 10px;
}

.subtitle {
    font-size: 2vw;
    color: var(--color-title);
}

.text {
    font-size: 1.5vw;
    letter-spacing: 0.1rem;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: var(--color-text);
    z-index: 4;
    text-align: justify;
}



.background {
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.loader span {
    color: #faebd7;
    text-shadow: 0 0 0 #faebd7;
    animation: loading 1s ease-in-out infinite alternate;
}

@keyframes loading {
    to {
        text-shadow: 20px 0 70px #ff0266;
        color: #ff0266;
    }
}

.loader span:nth-child(2) {

    animation-delay: 0.1s;
}

.loader span:nth-child(3) {
    animation-delay: 0.2s;
}

.loader span:nth-child(4) {
    animation-delay: 0.3s;
}

.loader span:nth-child(5) {
    animation-delay: 0.4s;
}

.loader span:nth-child(6) {
    animation-delay: 0.5s;
}

.loader span:nth-child(7) {
    animation-delay: 0.6s;
}

.loader span:nth-child(8) {
    animation-delay: 0.7s;
}

.loader span:nth-child(9) {
    animation-delay: 0.8s;
}

.loader span:nth-child(10) {
    animation-delay: 0.9s;
}

.loader span:nth-child(11) {
    animation-delay: 1s;
}

.loader span:nth-child(12) {
    animation-delay: 1.1s;
}

.loader span:nth-child(13) {
    animation-delay: 1.2s;
}

.loader span:nth-child(14) {
    animation-delay: 1.3s;
}

.loader span:nth-child(15) {
    animation-delay: 1.4s;
}

.loader span:nth-child(16) {
    animation-delay: 1.5s;
}

.loader span:nth-child(17) {
    animation-delay: 1.6s;
}

.loader span:nth-child(18) {
    animation-delay: 1.7s;
}

.loader span:nth-child(19) {
    animation-delay: 1.8s;
}

.loader span:nth-child(20) {
    animation-delay: 1.9s;
}

.loader span:nth-child(21) {
    animation-delay: 2s;
}

.loader span:nth-child(22) {
    animation-delay: 2.1s;
}




.wrapper {
    display: inline-flex;
    list-style: none;
  }
  
  .wrapper .icon {
    position: relative;
    background: #1a1a1a7a;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
  }
  
  .wrapper .whatsapp:hover,
  .wrapper .whatsapp:hover .tooltip,
  .wrapper .whatsapp:hover .tooltip::before {
    background: #1df26f;
    color: #ffffff;
  }
  
 
  
  .wrapper .email:hover,
  .wrapper .email:hover .tooltip,
  .wrapper .email:hover .tooltip::before {
    background: #f21d1d;
    color: #ffffff;
  }
  
 
  
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
  }
  
 
  .icon img {
    height: 20px;
  }