:root {
    /* colors */
    --color-primario: #00FF90;
    --color-green-100: #00ff91cc;
    --color-secondary: #03c1da;
    --color-white: #ffffff;
    --color-title: #ffffff;

    /* size of letter */
    --text-size-70: 70px;
    --text-size-28: 28px;
    --text-size-25: 25px;
    --text-size-21: 21px;
    --text-size-16: 16px;
}

body {
    margin: 0;
    font-family: 'ROBOTO',sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.back-start {
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 50px;
    border-radius: 50%;
    display: flex;
    border: none;
    align-items: center;
    transition: all 0.5s ease;
    justify-content: center;
}



.back-start img {
    width: 20px;
    height: 20px;

}

/* navbar */
.nav,
.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #000000;
    padding: 20px 2em;
}

.nav {
    height: 100vh;
}


.nav-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    box-shadow: 20px 20px 50px rgba(12, 12, 12, 0.904);
    background: #000000;
    z-index: 10;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-first {
    position: fixed;
    top: 75px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-second {
    position: fixed;
    top: 0;
}

.nav-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: var(--color-primario);
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: var(--text-size-28);
    text-decoration: none;
}


.nav-tab:hover {
    color: white;
    background: var(--color-primario);
    transition: all 0.5s ease;
}

.nav-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background: var(--color-primario);
    transition: left 0.3s ease;
}


.name {
    color: var(--color-white);
    font-size: 50px;
    /* letter-spacing: 0.3rem; */
    font-family: sans-serif;
    z-index: 4;
    align-self: flex-end;
}

.phrase {
    color: var(--color-white);
    font-size: 20px;
    /* letter-spacing: 0.3rem; */
    font-family: sans-serif;
    z-index: 4;
    margin: 0;
    text-align: center;
    align-self: flex-end;
    background: linear-gradient(260deg,white 50%,transparent);
    background-clip:text;
    text-align: end;
    -webkit-text-fill-color: transparent;
}



.title {
    font-size: var(--text-size-70);
    letter-spacing: 0.3rem;
    font-family: "ROBOTO", sans-serif;
    font-weight: bold;
    color: var(--color-primario);
    border-radius: 50px;
    padding: 10px;
}

.subtitle {
    font-size: var(--text-size-28);
    color: var(--color-title);
}

.text {
    font-size: var(--text-size-16);
    /* letter-spacing: 0.1rem; */
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: var(--color-title);
    line-height: 25px;
    text-align: start;
}

.background {
    /* display: none; */
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

/* Typing */
.front-back {
    
    font-size: 80px;
    font-family: sans-serif;
    z-index: 4;

    background: linear-gradient(45deg, rgb(255, 255, 255), var(--color-primario) 50%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.typed-text {
    font-weight: normal;
    color: #00FF90;
}

.cursor {
    display: inline-block;
    background-color: white;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: white;
    }

    49% {
        background-color: white;
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: #00FF90;
    }
}


/*Section about*/
.grid-about-contaier {
    margin: auto;
    width: 60%;
    margin-bottom: 50px;
}

.avatar-about {
    border-radius: 50%;
    float: left;
    height: 200px;
    box-shadow: 1px 1px 40px var(--color-primario);
    shape-outside: margin-box;
    margin-right: 50px;
}

/*Menu*/
.menu-container-mobile {
    display: none;
}


/* .show-more{
    border: none;
    padding: 8px 8px;
    color: #ffffff;
    margin-top: 15px;
    font-size: 16px;
    width: max-content;
    margin: auto;
    cursor: pointer;
}

.show-more:hover{
    color: var(--color-primario);
} */

@media (max-width: 425px) {

    /*Globales estilos*/
    .title {
        font-size: 9vw;
    }

    .subtitle {
        font-size: 6vw;
    }

    /*main*/
    .name {
        font-size: 6vw;
        text-align: center;
        
    }

    .front-back {
        font-size: 14vw;
        text-align: center;
    }

    /*seciton about*/

    .grid-about-contaier {
        flex-direction: column;
    }

    /*Menu*/
    .nav-container {
        display: none;
    }

    .menu-mobile {
        height: 0px;
        overflow: hidden;
        padding: 0px 20px;
        transition: .5s ease-in;
    }

    .menu-container-mobile {
        display: block;
        position: absolute;
        top: 0;
        background: linear-gradient(219deg, #3effab 0%, rgba(0, 0, 0, 0) 57%);
        width: 100%;
        z-index: 6;
    }

    .menu-in {
        height: 180px;
        transition: .5s ease-in;
    }

    .tab-mobile {
        display: block;
        color: var(--color-primario);
        letter-spacing: 0.1rem;
        transition: all 0.5s ease;
        font-size: var(--text-size-28);
        text-decoration: none;

    }


    .btn-menu {
        /* background-color: #00FF90; */
        padding: 10px 20px;
        text-align: end;
    }

    #btnMenu-close {
        display: none;
    }

    .btn-menu img {
        width: 25px;
        height: 25px;

    }


    .nav-tab:hover {
       pointer-events: none;
    }
    .show-more{
        text-align: center;
        cursor:none;
    }
}